*{
    transition: 0.2s;
    font-family: JetBrains Mono Nerd Font;
    color: #aaaaaa;
}

window {
    border-radius: 40px;
    position:relative;
    background:rgba(18, 18, 28, 0.9);
    background-size: auto 250%;
}

#input {
    margin: 0 20px 20px 20px;
    padding:25px 40px;
    border-radius: 100px;
    background-color:rgba(65, 65, 73, 1);
    color: #cdd6f4;
}

#outer-box {
    padding: 40px;
    color: #000;
    border-radius: 18px;
    font-weight: 600;
    font-size: 14px;
}

#text {
    padding: 5px;
    color: #cdd6f4;
}

#entry {
    margin: 10px 80px;
    padding: 10px 10px;
    border-radius: 200px;
}

#entry:selected {
    background-color:rgba(100, 100, 150, 1);
}

#entry:hover {
    color: #ffaa34;
}
